<div class="row align-center mb-5">
  <div class="column">
    <input class="input is-danger m-3" type="text" id="post_name" placeholder="Type Your Post Title Here">
    <textarea class="textarea is-danger m-3" placeholder="Type Your Full Post Here" id="post-description"></textarea>

    <button class="button is-danger m-3" id="save-post-btn">Save Post</button>
  </div>
</div>